<p>login works!</p>
<body style='background-image: url("/assets/lights2.jpg");background-repeat: no-repeat;background-size:cover;'>

    <div  class="container maindiv" >
   
        <div class="row">
        <div class="col-xl-12 col-sm-12 text-center">
        <h1 style="color:white;">UNIQUE LOGIN PAGE</h1>
        </div>
        </div>
        
        <div class="row mt-4 ml-5">
            
        <div class="col-xl-6 col-sm-12 col-md-12 middle">
        <div class="card" style="width: 400px;height:250px;background-color:rgba(26, 12, 12,0.5);">
        <h5 class="card-title text-center" style="opacity:1;color:white">Sign In Form</h5>
        <div class="card-body" style="display:block;align-self: center;">
        <div class="mt-2">
        <input  type="text" placeholder="USERNAME" style="width:250px;border-radius:5px;position:absolute;"> 
        </div>
        <div>
        <input type="password" placeholder="*******" style="width:250px;border-radius:5px;margin-top:40px;"> 
        </div>
               <div style="display: inline-block">
                <button type="button" class="btn btn-success mt-3" [routerLink]="['holder']">SIGN IN</button>
                <button style="margin-left:90px;" type="button" class="btn btn-danger mt-3">RESET</button>
        </div>
        </div>
        </div>
        </div>
        
        <div id ="2" class="col-xl-6 col-sm-12 col-md-12 secondiv middle" style="display:flex;">
                <div class="card" style="width: 400px;height:350px;background-color:rgba(26, 12, 12,0.5);">
                <h5 class="card-title text-center" style="opacity:1;color:white">Sign Up Form</h5>
                <div class="card-body" style="display:block;align-self: center;">
                <div class="mt-2">
                <input  type="text" placeholder="Username" style="width:250px;border-radius:5px;position:absolute;"> 
                </div>
                <div>
                <input type="number" placeholder="Phone" style="width:250px;border-radius:5px;margin-top:40px;"> 
                </div>
                <div>
                <input type="email" placeholder="Email" style="width:250px;border-radius:5px;margin-top:20px;"> 
                </div>
                <div>
                <input type="password" placeholder="*******" style="width:250px;border-radius:5px;margin-top:20px;"> 
                </div>
                       <div >
                        <button type="button" class="btn btn-success btn-lrg btn-block mt-3">SIGN UP</button>
                        
                </div>
                </div>
                </div>
                </div>
        
        </div>
        
        </div>
</body>
